@use "variables" as *;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // fsize ->  (10/16)  100
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background : $bg;
    box-sizing: inherit;
}

